<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ this.userInfo["username"] }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onRefresh()">
        <ion-icon icon="refresh-outline"> </ion-icon>
      </ion-button>
      <ion-button (click)="onLogout()">
        <ion-icon icon="enter-outline"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="list" color="primary">
        <ion-icon icon="documents-outline"></ion-icon>
        <ion-label>Siparişler</ion-label>
      </ion-tab-button>
      @if (this.userInfo['role'] === 'admin' || this.userInfo['role'] ===
      'superAdmin') {
      <ion-tab-button tab="users" color="primary" [style]="">
        <ion-icon icon="people-outline"></ion-icon>
        <ion-label>Kullanıcılar</ion-label>
      </ion-tab-button>
      }
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
