<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
      <div class="flex justify-between sm:flex-row flex-col gap-4 w-full items-stretch sm:items-center">
        <span>
          Toplam <strong>{{ users.length }}</strong> kullanıcı bulundu
        </span>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let user of users">
          <ion-label>
            <h2 class="flex">
              {{ user.username }}
              @if(user.role) {
                <p>( {{ user.role }} )</p>
              }
            </h2>
            @if(user.fullname) {
              <p>Tam Adı: {{ user.fullname }}</p>
            }
          </ion-label>

          <ion-buttons slot="end">
            <ion-button (click)="onDeleteUser(user.id)"   color="danger">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer>
  <button (click)="userAddModal.present()"
          type="submit"
          class="disabled:bg-gray-500 flex w-full justify-center rounded-lg bg-indigo-600 px-4 py-2 text-sm font-semibold text-white shadow-md hover:bg-indigo-500 focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 ">
    Kullanıcı Ekle
  </button>
</ion-footer>

<ion-modal #userAddModal [initialBreakpoint]="0.95">
  <ng-template>
    <ion-content>
      <div class="p-4">
        <!-- Başlık -->
        <h2 class="text-xl font-semibold text-gray-700 mb-4">Yeni Kullanıcı Ekle</h2>

        <!-- Form Alanı -->
        <form [formGroup]="userForm" class="space-y-6">
          <div>
            <label class="block mb-2 text-sm font-medium text-gray-700">Rol</label>
            <select
              formControlName="role"
              class="block w-full px-4 py-2 text-sm text-gray-700 bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500"
            >
              <option value="user" selected>Kullanıcı</option>
              @if(currentUserRole==='superAdmin'){
                <option value="admin">Admin</option>
              }

            </select>
            <div *ngIf="userForm.get('role')?.touched && userForm.get('role')?.invalid" class="text-red-500 text-sm mt-1">
              Rol seçimi zorunludur.
            </div>
          </div>
          <!-- Kullanıcı Adı -->
          <div>
            <label class="block mb-2 text-sm font-medium text-gray-700">Kullanıcı Adı</label>
            <input
              type="text"
              placeholder="Kullanıcı Adı"
              formControlName="username"
              class="block w-full px-4 py-2 text-sm text-gray-700 bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500"
            />
            <div *ngIf="userForm.get('username')?.touched && userForm.get('username')?.invalid" class="text-red-500 text-sm mt-1">
              Kullanıcı adı zorunludur.
            </div>
          </div>

          <!-- Tam Adı -->
          <div>
            <label class="block mb-2 text-sm font-medium text-gray-700">Tam Adı</label>
            <input
              type="text"
              placeholder="Tam Adı"
              formControlName="fullname"
              class="block w-full px-4 py-2 text-sm text-gray-700 bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500"
            />
            <div *ngIf="userForm.get('fullname')?.touched && userForm.get('fullname')?.invalid" class="text-red-500 text-sm mt-1">
              Tam adı zorunludur.
            </div>
          </div>

          <!-- Şifre -->
          <div class="relative">
            <label class="block mb-2 text-sm font-medium text-gray-700">Şifre</label>
            <input
              [type]="showPassword ? 'text' : 'password'"
              placeholder="Şifre"
              formControlName="password"
              class="block w-full px-4 py-2 text-sm text-gray-700 bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500"
            />
            <span
              class="absolute inset-y-0 right-0 flex items-center pr-2 pt-5"
              (click)="togglePasswordVisibility()"
            >
              <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
            </span>
            <div *ngIf="userForm.get('password')?.touched && userForm.get('password')?.invalid" class="text-red-500 text-sm mt-1">
              <div *ngIf="userForm.get('password')?.errors?.['required']">
                Şifre zorunludur.
              </div>
              <div *ngIf="userForm.get('password')?.errors?.['minlength']">
                Şifre en az 6 karakter olmalıdır.
              </div>
            </div>
          </div>
        </form>

        <div class="flex justify-between mt-8">
          <ion-button (click)="userAddModal.dismiss()" color="medium" class="w-1/2 mr-2">
            <ion-icon name="close-outline"></ion-icon>
            <ion-label class="ml-2">Kapat</ion-label>
          </ion-button>
          <ion-button
            (click)="onAddUser()"
            [color]="userForm.valid ? 'success' : 'medium'"
          class="w-1/2 ml-2"
          [disabled]="!userForm.valid"
          >
          <ion-icon name="save-outline"></ion-icon>
          <ion-label class="ml-2">Kaydet</ion-label>
          </ion-button>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
