<ion-content fullscreen>
  <div class="main-content">
    <ion-card-subtitle class="results">
      {{ results.length }} {{ results.length === 1 ? 'employee' : 'employees' }}
      found
    </ion-card-subtitle>

    <ion-searchbar
      (ionInput)="search($event)"
      placeholder="Search..."
      slot="end"
    ></ion-searchbar>

    <ion-list>
      <ion-item
        *ngFor="let employee of results"
        [id]="'employeeItem_' + employee.id"
        lines="none"
        routerLink="/order-detail/{{employee.id}}"
        routerDirection="forward"
      >
        <ion-avatar>
          <img [src]="employee.image" alt="employee avatar" />
        </ion-avatar>

        <ion-label>
          <h2>{{ employee.customerName }}</h2>
          <p>{{ employee.cakeContent }}</p>
        </ion-label>

        <ion-button (click)="remove(employee.id)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-button expand="block" routerLink="/new-order">
    Yeni Sipariş Ekle
  </ion-button>
</ion-footer>
