.main-content {
  padding: 16px;
}

.results {
  margin-bottom: 16px;
}

.employeeItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.employeeItem img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.employeeItem ion-label {
  flex: 1;
  padding-left: 10px;
}

.employeeItem ion-button {
  --padding-start: 0;
  --padding-end: 0;
}

