<ion-content>
  <div class="my-2" [formGroup]="filterForm">
    <div
      class="flex px-2 justify-between sm:flex-row flex-col gap-4 w-full items-stretch sm:items-center"
    >
      <span> Toplam <strong>{{ orders.length }}</strong> sipariş bulundu </span>
    </div>

    <div class="flex items-center me-4">
      <div class="flex-1">
        <ion-searchbar
          formControlName="search"
          placeholder="Sipariş Ara..."
          [showClearButton]="true"
        >
        </ion-searchbar>
      </div>
      <div>
        <ion-icon
          (click)="isDetailFilterShown = !isDetailFilterShown"
          icon="filter"
          [color]="isDetailFilterShown ? 'primary' : 'dark'"
        ></ion-icon>
      </div>
    </div>
    @if (isDetailFilterShown) {
    <div class="border mx-2 px-2 shadow-md">
      <ion-select label="Sipariş Durumu" formControlName="status">
        <ion-select-option value="todo">Yapılacak</ion-select-option>
        <ion-select-option value="completed">Tamamlandı</ion-select-option>
        <ion-select-option value="pending">Beklemede</ion-select-option>
        <ion-select-option value="canceled">İptal</ion-select-option>
      </ion-select>
    </div>
    <div class="flex justify-between items-center border m-2 p-2 shadow-md">
      <div>Sipariş Tarihi</div>
      <ion-datetime-button
        datetime="orderDateFilterModal"
        presentation="date-time"
      ></ion-datetime-button>
      <ion-modal #orderDateFilterModal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            [formControl]="filterForm.controls.orderDate"
            presentation="date"
            id="orderDateFilterModal"
            locale="tr"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </div>
    }
    <div class="mx-2 my-4">
      <button
        (click)="applyFilter()"
        type="button"
        class="disabled:bg-gray-500 flex w-full justify-center rounded-lg border border-solid border-indigo-600 px-4 py-2 text-sm font-semibold text-indigo-500 shadow-md focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
      >
        Filtrele
      </button>
    </div>
  </div>
  <div class="px-2">
    @for (order of orders; track $index) {
    <div class="w-full">
      <ion-card style="--padding: 0">
        <ion-card-content>
          <ion-item lines="none">
            <div class="w-full">
              <div class="flex flex-col w-full">
                <div class="w-full flex justify-between">
                  <span class="text-xs text-stone-600"
                    >{{ order.orderNo || 'Sipariş No Yok' }}
                  </span>

                  <span class="text-xs text-stone-600">
                    {{ order.orderDate | date: 'dd/MM/yyyy HH:mm' }}
                  </span>
                </div>
                <div class="flex">
                  <div class="w-5/6">
                    <div class="font-bold text-sm max-w-[80%] truncate">
                      {{ order.customerName || '-' }}
                    </div>

                    <a
                      class="text-xs text-stone-400 space-x-1 mt-1 flex justify-start items-center text-center"
                      href="tel:{{order.customerPhone}}"
                    >
                      <ion-icon icon="call"></ion-icon>
                      <span> {{ order.customerPhone || '-' }} </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <ion-icon
              slot="end"
              name="ellipsis-vertical"
              size="large"
              (click)="openPopover(order)"
              id="open-popover"
            ></ion-icon>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </div>
    }
  </div>
</ion-content>

<ion-footer>
  <div class="px-2 my-2">
    <button
      (click)="openNewOrderModal()"
      type="submit"
      class="disabled:bg-gray-500 flex w-full justify-center rounded-lg bg-indigo-600 px-4 py-2 text-sm font-semibold text-white shadow-md hover:bg-indigo-500 focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
    >
      Yeni Sipariş Ekle
    </button>
  </div>
</ion-footer>

<ion-modal #orderAddModal>
  <ng-template>
    <ion-content>
      <div class="p-4">
        <div class="flex justify-between">
          <h2 class="text-xl font-semibold text-gray-700 mb-4">
            {{ currentOrderId ? 'Siparişi Düzenle' : 'Yeni Sipariş Ekle' }}
          </h2>
          <h1 *ngIf="currentOrderId"># {{orderForm.get('orderNo')?.value}}</h1>
        </div>
        <form
          [formGroup]="orderForm"
          (ngSubmit)="currentOrderId ? updateOrder() : addOrder()"
        >
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 h-full">
            <!-- Cake Size -->
            <div class="relative col-span-1">
              <label
                for="cakeSize"
                class="block text-sm font-semibold text-gray-700"
                >Pastanın Ebatı
              </label>
              <input
                id="cakeSize"
                formControlName="cakeSize"
                class="block w-full px-4 py-2 text-sm text-gray-700 bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500"
                placeholder="Pastanın Ebatı"
                required
              />
              <div
                *ngIf="orderForm.controls['cakeSize'].invalid && orderForm.controls['cakeSize'].touched"
                class="text-red-500 text-xs"
              >
                Pastanın boyutu gereklidir.
              </div>
            </div>
            <!-- Status -->
            <div class="relative">
              <label
                for="status"
                class="block text-sm font-semibold text-gray-700"
                >Durum
              </label>
              <select
                id="status"
                formControlName="status"
                class="w-full px-4 py-2 text-sm text-gray-700 bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500"
              >
                <option value="todo">Yapılacak</option>
                <option value="completed">Tamamlandı</option>
                <option value="pending">Beklemede</option>
                <option value="canceled">İptal</option>
              </select>
            </div>

            <div class="relative">
              <label
                for="deposit"
                class="block text-sm font-semibold text-gray-700"
                >Kapora
              </label>
              <input
                id="deposit"
                formControlName="deposit"
                type="number"
                class="block w-full px-4 py-2 text-sm text-gray-700 bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500"
                placeholder="Kapora"
              />
            </div>
            <!-- Balance and Deposit -->
            <div class="relative">
              <label
                for="balance"
                class="block text-sm font-semibold text-gray-700"
                >Kalan Ödeme
              </label>
              <input
                id="balance"
                formControlName="balance"
                type="number"
                class="block w-full px-4 py-2 text-sm text-gray-700 bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500"
                placeholder="Kalan Ödeme"
                required
              />
              <div
                *ngIf="orderForm.controls['balance'].invalid && orderForm.controls['balance'].touched"
                class="text-red-500 text-xs"
              >
                Bakiye gereklidir.
              </div>
            </div>

            <!-- Cake Content -->
            <div class="relative col-span-2">
              <label
                for="cakeContent"
                class="block text-sm font-semibold text-gray-700"
                >Pastanın İçeriği
              </label>
              <input
                id="cakeContent"
                formControlName="cakeContent"
                type="text"
                class="block w-full px-4 py-2 text-sm text-gray-700 bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500"
                placeholder="Pastanın İçeriği"
                required
              />
              <div
                *ngIf="orderForm.controls['cakeContent'].invalid && orderForm.controls['cakeContent'].touched"
                class="text-red-500 text-xs"
              >
                Pastanın içeriği gereklidir.
              </div>
            </div>
            <!-- Order Date -->
            <div class="relative col-span-2">
              <label
                for="orderDate"
                class="block text-sm font-semibold text-gray-700"
                >Sipariş Tarihi ve Saati
              </label>
              <input
                id="orderDate"
                formControlName="orderDate"
                type="datetime-local"
                class="block w-full px-4 py-2 text-sm text-gray-700 bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500"
                required
              />
              <div
                *ngIf="orderForm.controls['orderDate'].invalid && orderForm.controls['orderDate'].touched"
                class="text-red-500 text-xs"
              >
                Sipariş tarihi ve saati gereklidir.
              </div>
            </div>
            <!-- Customer Name -->
            <div class="relative col-span-2">
              <label
                for="customerName"
                class="block text-sm font-semibold text-gray-700"
                >Müşteri Adı
              </label>
              <input
                id="customerName"
                formControlName="customerName"
                type="text"
                class="block w-full px-4 py-2 text-sm text-gray-700 bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500"
                placeholder="Müşteri Adı"
                required
              />
              <div
                *ngIf="orderForm.controls['customerName'].invalid && orderForm.controls['customerName'].touched"
                class="text-red-500 text-xs"
              >
                Müşteri adı gereklidir.
              </div>
            </div>

            <!-- Customer Phone -->
            <div class="relative col-span-2">
              <label
                for="customerPhone"
                class="block text-sm font-semibold text-gray-700"
                >Müşteri Telefonu
              </label>
              <input
                id="customerPhone"
                formControlName="customerPhone"
                type="text"
                class="block w-full px-4 py-2 text-sm text-gray-700 bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500"
                placeholder="Müşteri Telefonu"
                required
              />
              <div
                *ngIf="orderForm.controls['customerPhone'].invalid && orderForm.controls['customerPhone'].touched"
                class="text-red-500 text-xs"
              >
                Müşteri telefon numarası gereklidir.
              </div>
            </div>

            <!-- Description -->
            <div class="relative col-span-2">
              <label
                for="description"
                class="block text-sm font-semibold text-gray-700"
                >Açıklama
              </label>
              <textarea
                id="description"
                formControlName="description"
                class="block w-full h-40 px-4 py-2 text-sm text-gray-700 bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500"
                placeholder="Açıklama"
              ></textarea>
            </div>

            <div class="flex justify-between space-x-2 col-span-2 mt-auto">
              <button
                type="button"
                (click)="orderAddModal.dismiss()"
                class="w-full py-2 px-4 bg-gray-500 hover:bg-indigo-500 text-white rounded-md focus:ring-2 focus:ring-indigo-500"
              >
                Kapat
              </button>
              <button
                type="submit"
                class="w-full py-2 px-4 disabled:bg-gray-500 bg-indigo-600 hover:bg-indigo-500 text-white rounded-md focus:ring-2 focus:ring-indigo-500"
                [disabled]="orderForm.invalid"
              >
                {{ currentOrderId ? 'Güncelle' : 'Ekle' }}
              </button>
            </div>
          </div>
        </form>
        <div *ngIf="lastUpdate.length > 0" class="mt-4">
          <h3 class="text-lg font-semibold">Son Güncellemeler</h3>
          <div
            *ngFor="let update of lastUpdate"
            class="border-b border-gray-300 py-2"
          >
            <p>
              <strong>Kullanıcı:</strong> {{ update.username || 'Bilinmeyen' }}
            </p>
            <p>
              <strong>Tarih:</strong>
              {{ update.updatedDate || 'Tarih Bilinmiyor' | date:'dd MMMM ' +
              'yyyy,HH:mm:ss'}}
            </p>
          </div>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
<ion-popover #popover trigger="open-popover">
  <ng-template>
    @if (selectOrder) {
    <div>
      <ion-list>
        <ion-item lines="none">
          <!-- <ion-icon
            class="text-base"
            slot="start"
            name="create"
            color="primary"
          ></ion-icon>
          Durum Güncelle -->
          <ion-select
            #orderStatusSelect
            label="Durum Güncelle"
            cancelText="İptal"
            okText="Tamam"
            [value]="selectOrder.status"
            labelPlacement="floating"
            (ionChange)="updateStatus(selectOrder.id,orderStatusSelect.value);popover.dismiss()"
          >
            <ion-select-option value="todo">Yapılacak</ion-select-option>
            <ion-select-option value="completed">Tamamlandı</ion-select-option>
            <ion-select-option value="pending">Beklemede</ion-select-option>
            <ion-select-option value="canceled">İptal</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none" (click)="shareOrder(orderSharePreview, popover)">
          <ion-icon
            class="text-base"
            slot="start"
            name="share-social-outline"
            color="primary"
          ></ion-icon>
          Paylaş
        </ion-item>
        <ion-item
          lines="none"
          (click)="editOrder(selectOrder.id, selectOrder.updated || []);popover.dismiss()"
        >
          <ion-icon
            class="text-base"
            slot="start"
            name="create"
            color="primary"
          ></ion-icon>
          Düzenle
        </ion-item>
        <ion-item
          lines="none"
          (click)="deleteOrder(selectOrder.id);popover.dismiss()"
        >
          <ion-icon
            class="text-base"
            slot="start"
            name="trash"
            color="danger"
          ></ion-icon>
          Sil
        </ion-item>
      </ion-list>
    </div>
    }
  </ng-template>
</ion-popover>

<ion-modal #orderSharePreview [keepContentsMounted]="true">
  <ng-template>
    <ion-content>
      <div id="order-share" class="overflow-y-auto my-4">
        <main class="flex gap-4 mx-4">
          <button
            (click)="orderSharePreview.dismiss()"
            type="button"
            class="disabled:bg-gray-500 flex w-full justify-center rounded-lg bg-red-600 px-4 py-2 text-sm font-semibold text-white shadow-md hover:bg-red-500 focus:ring-2 focus:ring-red-500 focus:ring-offset-2"
          >
            Kapat
          </button>
          <button
            (click)="share()"
            type="button"
            class="disabled:bg-gray-500 flex w-full justify-center rounded-lg bg-indigo-600 px-4 py-2 text-sm font-semibold text-white shadow-md hover:bg-indigo-500 focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
          >
            Paylaş
          </button>
          @if(isMobile) {
          <button
            (click)="print()"
            type="button"
            class="disabled:bg-gray-500 flex w-full justify-center rounded-lg bg-blue-600 px-4 py-2 text-sm font-semibold text-white shadow-md hover:bg-blue-500 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
          >
            Yazdır
          </button>
          }
        </main>
        @if (selectOrder) {
        <div
          class="order-preview"
          style="
            background-color: white;
            height: 100%;
            width: 100%;
            transform: scale(0.7);
            padding: 10px 20px;
            position: relative;
          "
        >
          <div
            style="
              height: fit-content;
              border: 2px solid #000;
              padding: 10px;
              margin: 20px auto;
              background-color: #fff;
              box-sizing: border-box;
            "
          >
            <div
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
              "
            >
              <div style="text-align: center; margin-bottom: 10px">
                <img
                  src="/assets/logo.svg"
                  alt="Logo"
                  style="max-width: 100px"
                />
              </div>
              <div style="margin-right: 10px">
                <h1 style="font-size: 18px; text-align: center">
                  SİPARİŞ FİŞİ
                </h1>
                <p style="text-align: center; margin: 0">
                  &#64;izmirincisifirin
                </p>
                <p style="text-align: right; font-weight: bold">
                  No: <span>{{selectOrder.orderNo}}</span>
                </p>
              </div>
            </div>

            <label style="font-weight: bold; margin-top: 10px; display: block"
              >Pastanın Ebatı:
            </label>
            <label
              style="
                display: block;
                width: 100%;
                padding: 5px;
                margin-top: 5px;
                border: 1px solid #ccc;
                border-radius: 3px;
              "
              >{{selectOrder.cakeSize}}
            </label>

            <label style="font-weight: bold; margin-top: 10px; display: block"
              >Pastanın İçeriği:
            </label>
            <label
              style="
                display: block;
                width: 100%;
                padding: 5px;
                margin-top: 5px;
                border: 1px solid #ccc;
                border-radius: 3px;
              "
              >{{selectOrder.cakeContent}}
            </label>

            <label style="font-weight: bold; margin-top: 10px; display: block"
              >Tarih:
            </label>
            <label
              style="
                display: block;
                width: 100%;
                padding: 5px;
                margin-top: 5px;
                border: 1px solid #ccc;
                border-radius: 3px;
              "
            >
              {{ selectOrder.orderDate | date: 'dd/MM/yyyy EEEE HH:mm ' }}
            </label>

            <!-- <label style="font-weight: bold; margin-top: 10px; display: block"
            >Gün:
            </label
          >
          <label
            
            style="
              display: block;
              width: 100%;
              padding: 5px;
              margin-top: 5px;
              border: 1px solid #ccc;
              border-radius: 3px;
            "
            >Gün bilgisi giriniz
            </label
          >
    
          <label style="font-weight: bold; margin-top: 10px; display: block"
            >Saat:
            </label
          >
          <label
            
            style="
              display: block;
              width: 100%;
              padding: 5px;
              margin-top: 5px;
              border: 1px solid #ccc;
              border-radius: 3px;
            "
            >Saat bilgisi giriniz
            </label
          > -->

            <div style="display: flex; width: 100%; gap: 10px">
              <div style="flex: 1">
                <label
                  style="font-weight: bold; margin-top: 10px; display: block"
                  >Kapora:
                </label>
                <label
                  style="
                    display: block;
                    width: 100%;
                    padding: 5px;
                    margin-top: 5px;
                    border: 1px solid #ccc;
                    border-radius: 3px;
                  "
                >
                  {{selectOrder.deposit}}
                </label>
              </div>

              <div style="flex: 1">
                <label
                  style="font-weight: bold; margin-top: 10px; display: block"
                  >Kalan Ödeme:
                </label>
                <label
                  style="
                    display: block;
                    width: 100%;
                    padding: 5px;
                    margin-top: 5px;
                    border: 1px solid #ccc;
                    border-radius: 3px;
                  "
                >
                  {{selectOrder.balance}}
                </label>
              </div>
            </div>

            <label style="font-weight: bold; margin-top: 10px; display: block"
              >Siparişi Veren Adı-Soyadı:
            </label>
            <label
              style="
                display: block;
                width: 100%;
                padding: 5px;
                margin-top: 5px;
                border: 1px solid #ccc;
                border-radius: 3px;
              "
            >
              {{selectOrder.customerName}}
            </label>

            <label style="font-weight: bold; margin-top: 10px; display: block"
              >Telefon Numarası:
            </label>
            <label
              style="
                display: block;
                width: 100%;
                padding: 5px;
                margin-top: 5px;
                border: 1px solid #ccc;
                border-radius: 3px;
              "
            >
              {{selectOrder.customerPhone}}
            </label>

            <label style="font-weight: bold; margin-top: 10px; display: block"
              >Siparişi Alan Sorumlunun Adı:
            </label>
            <label
              style="
                display: block;
                width: 100%;
                padding: 5px;
                margin-top: 5px;
                border: 1px solid #ccc;
                border-radius: 3px;
              "
            >
              {{selectOrder.createdBy?.username}}
            </label>

            <label style="font-weight: bold; margin-top: 10px; display: block"
              >Açıklama:
            </label>
            <label
              style="
                display: block;
                width: 100%;
                padding: 5px;
                margin-top: 5px;
                border: 1px solid #ccc;
                border-radius: 3px;
              "
            >
              {{selectOrder.description}}
            </label>
          </div>
          <div
            style="
              position: absolute;
              opacity: 0.02;
              top: 67%;
              left: 33%;
              transform: translate(-47%, -29%);
              font-size: 3rem;
              width: 100%;
              text-align: center;
              rotate: 45deg;
            "
          >
            Akgül Software
          </div>
        </div>
        }
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
